body{
  background-color: #f7d794;
}

.Header,.Main,.Footer{
  border: 1px solid black;
  margin: auto;
  padding: 10px;
}

.Header-continued{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.section{
  border: 1px solid black;
  margin:auto;
  padding:10px;
}

.nav-list{
  list-style-type: none;
}

.nav-list li{
  float:left;
  margin-left:5em;
  border: 1px solid black;
  padding: 5px;
  font-family:fantasy;
  color: #218c74;
}

.find-btn{
  border:1px solid #218c74;
  background-color: #218c74;
  padding:1vh;
  margin-right:auto;
  transform: rotate(10deg);
}